.list {
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 0;
    border-radius: 5px;
}

.list .title {
    text-transform: capitalize;
    margin: .4rem;
    border-radius: 3px;
    box-shadow: 0 0 2px var(--accent);
    font-size: var(--text-normal);
    padding: .4rem;
}
.list .edit {
    background-color: var(--background);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: var(--padding-medium);
    right: 1px;
    height: 1rem;
}

.list .container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

/* @media (max-width: 768px) {
    .list {
        padding: .1rem;
        margin: 0;
        width: 100%;
        background-color: var(--background);
        position: fixed;
        top:52px;
        bottom: 0;
        transform: translate(100%);
    }
} */