/* post list */
.list {
    box-sizing: border-box;
    min-height: 0;
    display: flex;
    flex-direction: column;
    gap: .4rem;
    position: relative;
    
}

.list .title {
    padding: .2rem;
}
.container {
    flex: 1;
    overflow-y: auto;
}