@font-face {
    font-family: 'CustomFont';
    src: url('./assets/fonts/IbarraRealNova-Regular.ttf');
}
:root {
    --text: #0F0F0F;
    --background: #fbfbfe;
    --primary: #005B41;
    --secondary: #008170;
    --accent: #232D3F;
    --error: #ff0000;
    --success: 	#89ff77;
    --info: #54b4d3;
    --font: 'CustomFont';

    /* heading size */
    --heading-big: 2.125rem;
    --heading-extra-large: 1.775rem;
    --heading-large: 1.5rem;
    --heading-medium: 1.25rem;
    --heading-small: 1.125rem;
    --heading-extra-small: 1rem;
}
html, body, #root {
    height: 100%;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}
h1 {
    font-size: var(--heading-big);
    font-weight: bold;
}
h2 {
    font-size: var(--heading-extra-large);
}
h3 {
    font-size: var(--heading-large);
}
h4 {
    font-size: var(--heading-medium);
}
h5 {
    font-size: var(--heading-small);
}
h6 {
    font-size: var(--heading-extra-small);
}

body {
    position: relative;
    overflow: hidden;
    font-family:var(--font);
    background-color: var(--background);
}
#root {
    background-color: var(--text);
    color: var(--text);
    display: flex;
    justify-content: center;
}

dialog { 
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    animation: fade-in .5s;
}

dialog::backdrop {
    background-color:rgba(0, 0, 0, 0.7) ;
}
.layout {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    max-width: 1280px;
    overflow: hidden;
}

main {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
}

.loader {
    border-style: solid;
    border-top-style: solid;
    border-color: lightgray;
    border-top-color: black;
    border-radius: 50%;
    animation: loading 2s linear infinite;
}

/* Must change this to use some type of transition */
.error-text {
    margin-top: 8px;
    color: red;
    animation: fade-in 1s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--background) inset;
}
input {
    font-size: 1.175rem;
    box-sizing: border-box;
    /* height: 3rem; */
    padding: 16px 14px;
    width: 100%;
    border: 1px solid var(--text);
    border-radius: 5px;
}

input:focus {
    outline: 3px solid var(--primary);
    border:none;
}

input.error {
    outline: 3px solid var(--error);;
    animation: shake 1s;
}

.show {
    display: block;
}
.comment {
    position: relative;
    height: 5rem;
}

.toast-container {
    width: 300px;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

.toast {
    box-sizing: border-box;
    transition: all 0.5s ease-in-out ;
    margin-bottom: 8px;
    border-radius: 5px;
    color: black;
    width: 300px;
    padding: 16px;
    box-shadow: 0 0 3px black;
}

.border {
    border-radius: 5px;
}

.toast button {
    float: right;
}

.bottom {
    animation: toast-in-right .7s;
}

.fullscreen {
    width: 100%;
    height: 100%;
}

.login-page {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    position: relative;
    background-color: white;
    box-shadow: 0px 0px 6px #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    width: min(600px, 90%);
    height: min(500px, 70%);
    box-sizing: border-box;
    padding: 16px;
   
}
form a {
    border: 3px solid var(--primary);
    height: 3rem;
    border-radius: 5px;
    text-decoration: none;
    color: var(--secondary);
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    width: 100%;
    color: var(--accent);
    background-color: var(--accent);
}
.login-form a {
    text-decoration: none;
    color: var(--secondary)
}
.signin-page {
    display: flex;
    justify-content: center;
    align-items: center;
}
.signin-form {
    border-radius:5px;
    padding: 16px;
    width: min(600px, 80%);
    background-color: var(--background);
}
.group {
    width: 100%;
}

form label {
    display: inline-block;
    margin-block: 8px;
}

button {
    cursor: pointer;
    background-color: var(--secondary);
    color: var(--background);
    /* padding: 8px 16px; */
    height: 3rem;
    border: none;
    width: 100%;
    border-radius: 5px;
    font-size: x-large;
    font-weight: bold;
}
button:active {
    transform: translateY(2px);
}
button[type='submit'] {
    /* font-size: 20px; */
}

@keyframes shake {
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate(2%);
    }
    
    20%,
    40%,
    60%,
    80%,
    100% {
        transform: translate(0);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        display: none;
    }

    to {
        opacity: 1;
        display: block;
    }
}
@keyframes toast-in-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes loading {
    from { 
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

/* helpers */

.text-opaque {
    opacity: 0.6;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.margin-tp{ 
    margin-top: 1rem;
}

@media (max-width: 768px) {
    input{
        /* height: 1.5rem; */
        font-size: 1rem;
        padding: 12px 10px;
    }

    form label {
        margin-block: 2px;
    }

    .margin-tp { 
        margin-top: .5rem;
    }
}