@font-face {
    font-family: 'CustomFont';
    src: url('./assets/fonts/IbarraRealNova-Regular.ttf');
}
:root {
    --text: #0f0f0f;
    --background: #fbfbfe;
    --primary: #005B41;
    --secondary: #008170;
    --accent: #232d3f;
    --error: #ff0000;
    --success: 	#89ff77;
    --info: #54b4d3;
    --font: 'CustomFont';
    --padding-small: 8px;
    --padding-medium: 12px;
    --padding-big: 16px;

    --text-small: .8rem;
    --text-normal: 1rem;
    --text-big: 1.2rem;
    
    --heading-big: calc(var(--text-normal) * 1.3);
    --heading-extra-large: calc(var(--text-normal) * 1.250);
    --heading-large:calc(var(--text-normal) * 1.2);
    --heading-medium: calc(var(--text-normal) * 1.175);
    --heading-small:calc(var(--text-normal) * 1.150);
    --heading-extra-small:  calc(var(--text-normal) * 1.1);

    --small-space: .6rem;
    --medium-space: .8rem;
    --large-space: 1rem;
    --x-large-space: 1.2rem;
    /* --heading-big: 2.125rem;
    --heading-extra-large: 1.775rem;
    --heading-large: 1.5rem;
    --heading-medium: 1.25rem;
    --heading-small: 1.125rem;
    --heading-extra-small: 1rem; */
}
html, body, #root {
    height: 100%;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
}
 h1 {
    font-size: var(--heading-big);
    font-weight: bold;
}
h2 {
    font-size: var(--heading-extra-large);
}
h3 {
    font-size: var(--heading-large);
}
h4 {
    font-size: var(--heading-medium);
}
h5 {
    font-size: var(--heading-small);
}
h6 {
    font-size: var(--heading-extra-small);
} 


body {
    position: relative;
    overflow: hidden;
    font-family:var(--font);
    background-color: var(--background);
}
#root {
    
    color: var(--text);
    display: flex;
    justify-content: center;
}

dialog { 
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    animation: fade-in .5s;
}

dialog::backdrop {
    background-color:rgba(0, 0, 0, 0.7) ;
}
.layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /** Need to set this if you want inner items to be scrollable */
    grid-template-rows: 100vh; 
    max-width: 1280px;
    overflow: hidden;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-sizing: border-box;
}

.loader {
    border-style: solid;
    border-top-style: solid;
    border-color: lightgray;
    border-top-color: black;
    border-radius: 50%;
    animation: loading 2s linear infinite;
}

/* Must change this to use some type of transition */
.error-text {
    margin-top: 2px;
    color: red;
    font-size: var(--text-small);
    animation: fade-in 1s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--background) inset;
}
 input.primary {
    font-size: var(--text-normal);
    box-sizing: border-box;
    padding: var(--padding-medium) var(--padding-small);
    width: 100%;
    border: 1px solid var(--text);
    border-radius: 5px;
} 

/* input:focus {
    outline: 3px solid var(--primary);
    border:none;
} */

input.error {
    outline: 3px solid var(--error);;
    animation: shake 1s;
}

.show {
    display: block;
}
.comment {
    position: relative;
    height: 5rem;
}

.toast-container {
    width: 300px;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

/* Styling header */
header {
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: end;
}
header > * {
    width: 175px;
}
.nav-item {
    text-transform: capitalize;
    font-size: 15px;
    cursor: pointer;
}

.nav-icon {
    height: 1rem;
    aspect-ratio: 1 / 1;
    background-color: transparent;
}

.nav-item button {
    color: var(--accent);
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 0;
    font-size: var(--text-normal);
    height: 100%;
    display: flex;
    align-items: center;
    border: none;
    width: auto;
    background-color: none;
    background: none;
    font-weight: bold;
}
.nav-item a {
    color: var(--accent);
    letter-spacing: 1px;
    width: min-content;
    
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: var(--text-normal);
    font-weight: bold;
}
.nav-item:hover > button, .nav-item:hover > a, .nav-icon:hover{
    background-color: var(--accent);
    color: var(--background);
}
.nav-item a, .nav-item button {
    width: 100%;
    gap: var(--padding-big);
    cursor: pointer;
    border-radius: 5px;
    padding: 8px;
    box-sizing: border-box;
}

.border {
    border-radius: 5px;
}

.toast button {
    float: right;
}

.bottom {
    animation: toast-in-right .7s;
}

.fullscreen {
    width: 100%;
    height: 100%;
}

hr {
    width: 100%;
    color: var(--accent);
    background-color: var(--accent);
}
a.secondary{
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--accent);
    padding-block: var(--padding-small);
    border: 3px solid var(--accent);
}
.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-form {
    border-radius:5px;
    padding: var(--padding-big);
    width: min(300px, 80%);
    display: flex;
    gap: var(--padding-small);
    flex-direction: column;
    background-color: var(--background);
}
.group {
    width: 100%;
}

/* form label {
    font-size: var(--text-normal);
    padding-block: var(--padding-small);
} */

button {
    font-family: var(--font);
}

button.primary {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 1rem;
    padding-block: var(--padding-small);
    cursor: pointer;
    background-color: var(--accent);
    color: var(--background);
    border: none;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
}
button.primary:active {
    transform: translateY(2px);
}


/** Comment List **/
.comments {
    padding: var(--padding-small);
    display: flex;
    flex-direction: column;
    
}
.comments .content {
    max-height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: var(--padding-small);
}
.comments .content .comment:only-child
{
    background-color: #005B41;
}
.comment {
    height: auto;
    position: relative;
    padding:  var(--padding-medium);
    margin-inline: var(--padding-small);
    display: flex;
    box-shadow: 0 0 1px var(--accent);
    gap: 4px;
}

.comment .content {
    padding: 0;
    display: block;
    flex: 1;
}

.comment .content .user {
    font-weight: bold;
}

.comment .content .text {
    font-size: var(--text-small);
}
.comment .icon {
    /* box-shadow: 0px 0px 3px var(--accent) inset; */
    height: 30px;
    aspect-ratio: 1 /1;
}

.comment .dropdown-menu {
    overflow:hidden ;
    position:  absolute;
    right: 4px;
    top: 4px;
} 
.comment .dropdown-menu .content {
    width: auto;
    padding: 0;
    gap: 0;
}
.comment .dropdown-menu .icon {
    align-self: self-end;
    height: 10px;
    aspect-ratio: 1 /1;
}
/* Follower List */
.follower-list {
   
    border-left: 1px solid black;
    /* margin: var(--padding-small); */
    padding-block: var(--padding-medium) 0;
    width: 200px;
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 0;
}

.follower-list .title {
    font-size: var(--text-normal);
    padding-left: var(--padding-medium);
}
.follower-list .edit {
    background-color: var(--background);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    top: var(--padding-medium);
    right: 1px;
    height: 1rem;
}
.follower-list .edit > img {
    height: 100%;
    aspect-ratio: 1 /1;
}

.follower-list .content {
    /* flex: 1; */
    /* background-color: #005B41; */
    display: flex;
    flex-direction: column;
    /* min-height: 0;  */
    overflow-y: auto;
}

.follower {
    padding: var(--padding-big) var(--padding-medium);
    /* border: 1px solid black; */
    display: flex;
    position: relative;
    gap: var(--padding-medium);
    
}

.follower:not(:last-child) {
    border-bottom: 1px solid var(--accent);
}
.follower .username {
    text-transform: capitalize;
}

.follower img {
    height: 1rem;
    aspect-ratio: 1 / 1;
}

button.back {
    color: var(--accent);
    background-color: var(--background);
    border: none;
    cursor: pointer;
    align-self: self-start;
}

button.back svg {
    height: 30px;
}
button.back img{
    height: 25px;
    aspect-ratio: 1 /1;
}
.card-link {
    overflow: hidden;
    position: absolute;
    inset: 0 0 0 0
}

.hidden-text {
    position: absolute;
    top: -100px
}

.slide-down {
    animation: slide-down 1s ease;
    transform-origin: top;
}

.small-inset-shadow {
    box-shadow: 0px 0px 1px var(--accent) inset;
}
@keyframes shake {
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate(2%);
    }
    
    20%,
    40%,
    60%,
    80%,
    100% {
        transform: translate(0);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        display: none;
    }

    to {
        opacity: 1;
        display: block;
    }
}
@keyframes toast-in-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes loading {
    from { 
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes slide-down {
    from {
        transform: scaleY(0);
    }

    to {
        transform: scaleY(1);
    }
    
}

/* helpers */

.small-container-padding {
    padding: 2px 4px;
}
.fullwidth {
    width: 100%;
}
.text-opaque {
    opacity: 0.6;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.margin-tp{ 
    margin-top: 1rem;
}

.box-shadow {
    box-shadow: 0px 0px 6px var(--text);
}

.small-box-shadow {
    box-shadow: 0px 0px 1px var(--accent);
}
.inset-box-shadow-3 {
    box-shadow: 0px 0px 3px var(--accent) inset;
}
.even-items {
    display: flex;
    gap: var(--padding-medium);
}

.inset-box-shadow {
    box-shadow: 0 0  3px var(--text) inset; 
}
button {
    cursor: pointer;
}

@media (max-width: 768px) {
    :root {
        --padding-small: 4px;
        --padding-medium: 8px;
        --padding-big: 12px;
    }
}