html, body, #root {
    height: 100%;
    box-sizing: border-box;
}
body {
    position: relative;
    overflow: hidden;
}
#root {
    display: flex;
    justify-content: center;
}

dialog { 
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    animation: fade-in .5s;
}

dialog::backdrop {
    background-color:rgba(0, 0, 0, 0.7) ;
}
.layout {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    max-width: 1280px;
    overflow: hidden;
}

main {
    display: grid;
    width: 100%;
    grid-template-columns: 2fr 1fr;
}

.loader {
    border-style: solid;
    border-top-style: solid;
    border-color: lightgray;
    border-top-color: black;
    border-radius: 50%;
    animation: loading 2s linear infinite;
}

/* Must change this to use some type of transition */
.error {
    color: red;
    display: none;
}

.show {
    display: block;
}
.comment {
    position: relative;
    height: 5rem;
}

.toast-container {
    width: 300px;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

.toast {
    box-sizing: border-box;
    transition: all 0.5s ease-in-out ;
    margin-bottom: 8px;
    border-radius: 5px;
    color: black;
    width: 300px;
    padding: 16px;
    box-shadow: 0 0 3px black;
}

.toast button {
    float: right;
}

.bottom {
    animation: toast-in-right .7s;
}

.fullscreen {
    width: 100%;
    height: 100%;
}

.login-page {
    /* background-image:  radial-gradient(circle at top, #9db4ff  35%,#baccff  45%, #000 75%); */
    display: flex;
    justify-content: center;
    align-items: center;
}



.login-form {
    background-color: white;
    box-shadow: 0px 0px 6px #000;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    /* border:  1px solid black; */
    width: 600px;
    height: 500px;
    /* padding: 16px; */
    box-sizing: border-box;
    padding: 16px;
   
}
.group {
    width: 100%;
    
}
input.default {
    font-size: inherit;
    box-sizing: border-box;
    height: 3rem;
    width: 100%;
}

button[type='submit'] {

    font-size: inherit;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes toast-in-right {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes loading {
    from { 
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}